.App {
  text-align: center;
  box-shadow: 10px 10px 5px darkred;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin-left: 25px;
  margin-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 45px;
  height:45px;
  font-size: 15px;
  margin: 5px;
  background: grey;
}

.Header {
  display: flex;
  flex-direction: row;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.Header h2 {
  margin: 20px;
  font-family: 'Raleway', sans-serif;
}

.timer {
  font-family: 'Raleway', sans-serif;
}

.counter {
  font-family: 'Raleway', sans-serif;
}

.control {
  display: flex;
  flex-direction: row;
}

.control div {
  margin: 30px 120px;
}

.reset {
  background-color: transparent;
  color: white;
  text-align: end;
  text-decoration: none;
  display: flex;
  font-size: calc(10px + 2vmin);
  margin-top: 30px;
  border-width: 0px;
}