.cell {
  width: 45px;
  height: 45px;
  font-size: 15px;
  margin: 5px;
  background: grey;
}
.closed {
  background: grey;
}
.open {
  background: white;
}
.mined {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://stepik.org/media/attachments/lesson/360753/target.svg)
    no-repeat;
  width: 45px;
  height: 45px;
}
