.cell {
  width: 45px;
  height: 45px;
  font-size: 15px;
  margin: 5px;
  background: grey;
  border: 1px solid white;
}
.closed {
  background: grey;
}
.open {
  background: white;
}
.mined {
  background: red;
}
.flagged {
  background: goldenrod;
}
